{% extends 'base.html' %}

{% block content %}

{% if object_list %}
    <h3>Все мои листы</h3>
    <ul>
        {% for todo_list in object_list %}
            <li>
                <div role="button" onclick="location.href='{% url "list" todo_list.id %}'">{{ todo_list.title }}</div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>У тебя нет листов</h3>
{% endif %}

<p>
    <input value="Добавить новый список" type="button" onclick="location.href=' {% url "list-add"%}'"/>
</p>

{% endblock %}